[submodule "meta-ptx"]
	path = meta-ptx
	url = https://github.com/pengutronix/meta-ptx.git
	branch = walnascar
[submodule "meta-oe"]
	path = meta-oe
	url = https://github.com/openembedded/meta-openembedded.git
	branch = walnascar
[submodule "meta-rauc"]
	path = meta-rauc
	url = https://github.com/rauc/meta-rauc.git
	branch = walnascar
[submodule "meta-labgrid"]
	path = meta-labgrid
	url = https://github.com/labgrid-project/meta-labgrid.git
	branch = master
[submodule "meta-virtualization"]
	path = meta-virtualization
	url = https://github.com/lgirdk/meta-virtualization.git
	branch = walnascar
[submodule "poky"]
	path = poky
	url = https://git.yoctoproject.org/poky
	branch = walnascar
[submodule "meta-selinux"]
	path = meta-selinux
	url = https://git.yoctoproject.org/meta-selinux
	branch = walnascar
[submodule "meta-arm"]
	path = meta-arm
	url = https://git.yoctoproject.org/meta-arm
	branch = walnascar
