[submodule "bitbake"]
	path = bitbake
	url = https://git.openembedded.org/bitbake
	branch = 2.14
[submodule "openembedded-core"]
	path = openembedded-core
	url = https://git.openembedded.org/openembedded-core
	branch = whinlatter
[submodule "meta-ptx"]
	path = meta-ptx
	url = https://github.com/pengutronix/meta-ptx.git
	branch = master
[submodule "meta-oe"]
	path = meta-oe
	url = https://github.com/openembedded/meta-openembedded.git
	branch = whinlatter
[submodule "meta-rauc"]
	path = meta-rauc
	url = https://github.com/rauc/meta-rauc.git
	branch = whinlatter
[submodule "meta-labgrid"]
	path = meta-labgrid
	url = https://github.com/labgrid-project/meta-labgrid.git
	branch = master
[submodule "meta-virtualization"]
	path = meta-virtualization
	url = https://git.yoctoproject.org/meta-virtualization
	branch = whinlatter
[submodule "meta-selinux"]
	path = meta-selinux
	url = https://git.yoctoproject.org/meta-selinux
	branch = whinlatter
[submodule "meta-arm"]
	path = meta-arm
	url = https://git.yoctoproject.org/meta-arm
	branch = whinlatter
