image @IMAGE@img {
    hdimage {
        partition-table-type = none
    }

    partition fsbl {
        image = "tf-a-stm32mp157c-lxa-tac.stm32"
        size = 256K
    }

    partition fip {
        image = "@IMAGE@fip"
        offset = 256K
    }
}

image @IMAGE@fip {
    fip {
        fw-config = "stm32mp157c-lxa-tac-fw-config.dtb"
        hw-config = "barebox-stm32mp157c-lxa-tac.dtb"
        nt-fw = "barebox-stm32mp-generic-bl33.img"
        tos-fw = { "bl32.bin" }
        tos-fw-config = "stm32mp157c-lxa-tac-bl32.dtb"
    }

    size = 1M
}
