[Unit]
Description=Gather and Distribute Factory Data
DefaultDependencies=no
After=systemd-remount-fs.service
Before=systemd-udevd.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/lxatac-factory-data

[Install]
WantedBy=sysinit.target
