image @IMAGE@simg {
    android-sparse {
        image = "@IMAGE@img"
    }
}

image @IMAGE@img {
    hdimage {
        partition-table-type = gpt
        gpt-no-backup = true
    }

    partition barebox-env {
        image = "@WORKDIR@/state-filler.img"
        in-partition-table = false
        offset = 512K
        size = 256K
    }

    partition barebox-state {
        image = "@WORKDIR@/state-filler.img"
        # We can not have the barebox partitions in the partition table right
        # now because:
        #  - If we add them the partition label clashes with the label of the
        #    fixed partitions in the barebox devicetree.
        #  - If we change the labels barebox still wont allow the partitions
        #    to overlap.
        #  - We have TACs in the wild that do not have the partitions,
        #    in the partition table so we can not just remove the fixed
        #    partitions in the barebox devicetree.
        #    We thus need e.g. a RAUC hook that creates the partitions on
        #    install.
        in-partition-table = false
        #partition-type-uuid = "4778ed65-bf42-45fa-9c5b-287a1dc4aab1"
        offset = 768K
        size = 256K
    }

    partition root-a {
        image = "lxatac-core-image-base-lxatac.ext4"
        partition-type-uuid = "69dad710-2ce4-4e3c-b16c-21a1d49abed3"
        partition-uuid = "e82e6873-62cc-46fb-90f0-3e936743fa62"
        offset = 2M
        size = 2048M
    }
}
