image @IMAGE@simg {
    android-sparse {
        image = "@IMAGE@img"
    }
}

image @IMAGE@img {
    hdimage {
        align = 1M
        partition-table-type = gpt
        gpt-no-backup = true
    }

    partition root-a {
        image = "lxatac-core-image-base-lxatac.ext4"
        partition-type-uuid = "69dad710-2ce4-4e3c-b16c-21a1d49abed3"
        partition-uuid = "e82e6873-62cc-46fb-90f0-3e936743fa62"
        offset = 2M
        size = 2048M
    }
}
